<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ActiveRules" value="rule1,rule2,rule3,rule4,rule5" />
      <add key="Rule1Parameter1" value="aA" />
      <add key="Rule2Parameter1" value="bB" />
      <add key="Rule2Parameter2" value="eE" />
      <add key="Rule3Parameter1" value="abc" />
      <add key="Rule4Parameter1" value="cC" />
      <add key="Rule4Parameter2" value="aA" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>